---
const roleList: string[] = [
  "Frontend Developer",
  "Web Developer",
  "Software Developer",
];
---

<div class="flex flex-col items-center w-full px-10 gap-9">
  <div class="flex gap-3">
    {
      roleList.map((role: string) => (
        <div class="px-3 py-1 shadow-lg shadow-black/5 backdrop-blur-xl border border-[#E4E7EC] bg-[#F9FAFB] text-[] rounded-full text-xs">
          {role}
        </div>
      ))
    }
  </div>
  <span class="text-6xl font-bold text-center">
    Hello! Iam Ilham Yusuf Alghani, Frontend Developer Based in Indonesia
  </span>
  <span>
    2+ Years of Experience as a Frontend Developer Designing Stunning Products
    and Transforming Ideas into Reality
  </span>
</div>
